.field{
  color: var(--black);
  font-size: 14px;
}

.field label{
  display: block;
  padding-bottom: 1px;
}

input{
  border: 1px solid gray;
  width: 150px;
  padding: 5px;
  font-size: inherit;
}

input:focus{
  outline: 0;
}

