@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --red: #FF3D2F;
  --green: #00B34A;
  --white: #fff;
  --black: #0C0D0B;
  --gray: #D9D9D9;
  --whitegray: #F0F0F0;
}

body{
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: var(--gray);
  color: var(--black);
}

.h1{
  font-size: 150px;
  font-weight: 900;
}

.h2{
  font-size: 100px;
  font-weight: 700;
}

.h3{
  font-size: 50px;
  font-weight: 500;
}

.h4{
  font-size: 25px;
  font-weight: 400;
}

.h5{
  font-size: 18px;
  font-weight: 400;
}

.bold{
  font-weight: 700;
}